@import '../../colors.scss';

.infobar-wrapper
{
  border-top: 4px solid $color-ui-border;
  background-color: $color-ui-bg;

  height: 40px;
  width: 100%;

  flex-grow: 0;
}

.infobar-wrapper .infobar
{

}