@import '../../colors.scss';

.toolbar-wrapper
{
  border-bottom: 4px solid $color-ui-border;
  background-color: $color-ui-bg;

  width: 100%;
  flex-grow: 0;
}

.toolbar-wrapper .toolbar
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: left;
  align-items: center;
  align-content: center;

  gap: 10px;

  padding: 10px;
}

.toolbar-wrapper .toolbar .MuiGrid-root
{
  margin-bottom: 10px;
}