.image-preview-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


  flex-grow: 1;
  z-index:  -1;
}

.image-preview-wrapper .image-preview
{
  position: relative;
}

.image-preview-wrapper .image-preview
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}